body{
    margin: auto;
}
/*Introduction*/
#introduction{
    width: 100%;
    height: 400px;
    background-image: url("https://i.ibb.co/V9j2LPY/Back-Ground.jpg");
    background-repeat: no-repeat;
    background-size: 100% 400px;  
    background-size: cover;  
   
}
#photo{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}
#photo > img{
    height: 300px;
    width: 500px;
}
#summary{
    float: left;
    height: 50px;
    width: 100%;
}
#summary > h2{
    text-align: center;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
#summary > p{
    position: absolute;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 30%;   
}

/*Skils*/
#skills{ 
    width: 100%;
    height: 300px;  
    background-image: url("https://i.ibb.co/GpPh2cV/BCG2.jpg");  
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 300px;  
}
#skills >img{
    height: 200px;
    width: 200px;
    margin-left: 2.5%; 
}
#skills>h3{
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*Education*/
#education{
    width:100%;
    height:300px;
    background-color:lightblue;
    background-image: url("https://i.ibb.co/kQVrz6G/EduBgc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 300px;
}
#education >h3{
    text-align: center;
    font-size: 40px;
}
#education> p {
    font-size: 25px;
    margin-left: 10%;
}

/*Contact*/
#contact{
    width:100%;
    height:400px;
    background-image: url("https://i.ibb.co/XDbZ4PT/CusBgc.jpg"); 
    background-size: 100% 400px; 
    background-repeat: no-repeat;
    background-size: cover; 
}
#social > h4{
    text-align: center;
    font-size: 25px;
    font-style: italic;
}

#social > p{
    text-align: center;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
      
}




